
.hotelmain {
    position: relative;
    text-align: center;
    color: white;
}

.img-hotel {
    width: 100%;
    height: auto;
    max-width: 2560px;
}

.hotelmain-text {
    position: absolute;
    bottom: 20px; 
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    padding: 20px;
    border-radius: 10px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 1.4em;
    text-align: center;
}

/*commonstyles*/
.hotelmain-text h1, .hotelmain-text p, .exclusive-rooms h2, .room-text h3 {
    font-family: 'Abhaya Libre ExtraBold';
    font-style: normal;
    font-weight: 800;
    
}

.hotelmain-text h1 {
font-size: 3em;
font-size: 54px;
line-height: 24px;    
}

.hotelmain-text p {
    font-size: 1.2em;
    font-size: 30px;
    line-height: 24px;
}

.exclusive-rooms {
    text-align: center;
    padding: 50px 20px;
}

.exclusive-rooms h2 {
    font-size: 2.5em;
    margin-bottom: 40px;
    font-size: 64px;
    line-height: 24px;
}

.room {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0;
}

.room:nth-child(even) {
    flex-direction: row-reverse;
}

.room img {
    width: 50%;
    border-radius: 10px;
}

.room-text {
    width: 50%;
    padding: 20px;
    text-align: left;
    font-family: 'Alice';
    font-style: normal;
    font-weight: 400;
    font-size: 1.4em;
    line-height: 1.4em;
    letter-spacing: 0.05em;
    color: #000000;
}

.room-text h3 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
    font-size: 48px;
    line-height: 24px;

}

.room-text p {
    font-size: 1.2em;
    line-height: 1.5em;
}
