/*box of the current page, Ala Carte or Packages page, will be coloured*/
.currentPageBox {
    border-radius: 30px;
    background-color: #552500;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 1px;
    padding-bottom: 1px;
    width: 100px;
/*    height: 76px;*/
    box-shadow: rgb(154, 154, 154) 0px 0px 10px 3px inset;
    color: white;
    text-align: center;
}

/*box of the other page, Ala Carte or Packages page, will not be coloured*/
.otherPageBox {
    border-radius: 30px;
    background-color: white;
    border: 3px solid #552500;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 1px;
    padding-bottom: 1px;
    width: 100px;
/*    height: 76px;*/
    text-align: center;
}

#leftPadding {
    padding-left: 230px;
}

/*design for box displaying information of the types of tickets in Ala Carte page*/
.ticketsBox {
    border-radius: 40px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 20px;
    width: 700px;
    height: 210px;
    margin: auto;
    box-shadow: rgb(114, 114, 114) 0px 0px 10px 8px;
    background-color: white;
}

/*design for box displaying information of the types of tickets in Package page*/
.packagesBox {
/*    border-radius: 40px;*/
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 5px;
    width: 700px;
    height: 175px;
    margin: auto;
    box-shadow: rgb(114, 114, 114) 0px 0px 10px 8px;
    background-color: white;
}

.detailsBox {
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 10px;
    width: 700px;
    margin: auto;
    box-shadow: rgb(114, 114, 114) 0px 0px 10px 8px;
    background-color: white;
}

/*design for detail boxs' header*/
#header {
    margin-bottom: 0;
    align-items: center;
    border-radius: 10px;
    background-color: #552500;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    box-shadow: rgb(154, 154, 154) 0px 0px 8px 2px inset;
}

/*Family package box background image*/
.familyBackground {
    position: relative;
    
    &::before {
        border-top-left-radius: 40px;
        border-top-right-radius: 40px;
        content: '';
        position: absolute;
        top: 0px;
        right: 0px;
        left: 0px;
        bottom: 0px;
        background-image: url(../images/family_outing.jpg);
        opacity: 0.25;
    }
}

/*Friend Trip package box background image*/
.friendsBackground {
    position: relative;
    
    &::before {
        border-top-left-radius: 40px;
        border-top-right-radius: 40px;
        content: '';
        position: absolute;
        top: 0px;
        right: 0px;
        left: 0px;
        bottom: 0px;
        background-image: url(../images/friends_outing.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 0.25;
    }
}

/*Outing package box background image*/
.outingBackground {
    position: relative;
    
    &::before {
        border-top-left-radius: 40px;
        border-top-right-radius: 40px;
        content: '';
        position: absolute;
        top: 0px;
        right: 0px;
        left: 0px;
        bottom: 0px;
        background-image: url(../images/outing.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 0.25;
    }
}

/*so that the opacity will not affect h3 in the packages page*/
h3 {
    position: relative;
}

/*so that the opacity will not affect p in the packages page*/
p {
    position: relative;
}

/*design for box displaying "Visitors' Information" & "FAQs"*/
.informationBox {
    border-radius: 40px;
    padding: 20px;
    vertical-align: text-top;
    width: 430px;
    box-shadow: rgb(114, 114, 114) 0px 0px 10px 8px inset;
    text-align: left;
    background-color: white;
}

/*text background for informationBox headers*/
.textBackgroundColour {
    text-align: center;
    border-radius: 20px;
    background-color: #552500;
    padding: 20px;
    box-shadow: rgb(154, 154, 154) 0px 0px 10px 3px inset;
    color: white;
}

.qn {
    padding: 10px;
    background-color: #F7F4F1;
}

.ans {
    font-size: 18px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}
